/*---- MAIN CONFIGURATION----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    max-width: 320px;
    margin:0 auto;

}

.main-content{
    background-color: ghostwhite;
    padding: 16px;
}
    
/*-------BUTTONS CTA-------*/

.cta{
    background: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    text-transform: uppercase;
    font-family:'IBM Plex Mono', monospace; 
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
}

/*-----TITLES------*/

h1,
h2,
h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    height: 42px;
}


p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    width: 288px;
    height: 66px;
}
/*---------HEADER----------*/

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
}

.image-container{
    width: 24px;
    height: 24px;
}

.menuIcon-cointainer{
    display: flex;
    width: 18px;
    height: 12px;
}

/*---------FIRST-SECTION ---------*/

.title-first-section{
    margin-top:29px;   
    height: 42px;
    width: 212px;
}

.world-title{
    text-decoration: line-through;
}

.paragraph-first-section{
    margin-top: 58px;
}

.cta.first-section{
    margin-top: 36px;
}
/*--------SECOND-SECTION--------*/

.second-section{
    margin-top: 24px;
    padding: 0;
}

.title-second-section{
    margin-top:64px;
    max-width: 157px;
    margin-right: 147px;
}

.list-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:21px;
}

.list-content img{
    margin: 11px;
    width: 298px;
    height: 225px;

}

 /*-------THIRD SECTION----------*/

 .img-phone-content{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top:48px;
 }
 
 .img-phone-content img{
     width: 360px;
     height:519px;
 }

 .title-third-section{
    margin-top: 27px;
    width: 288px;
    height: 84px;
 }

 .paragraph-third-section{
     margin-top:8px;
     width: 288px;
     height: 254px;
 }

 /*-----------FOUR SECTION--------*/

 .title-four-section{
     margin-top: 54px;
     width: 288px;
     height: 84px;
 }

 .photowall{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 14px;
 }

 .photowall img{
     width: 320px;
     height: 243px;
 }
 /*-----------FOOTER-----------*/

 .footer-content{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
 }

 .footer-icons{
     justify-content: space-between;
 }

 .footer-icons i{
     font-size: 28px;
     margin-right: 38px;
 }
