/*---- MAIN CONFIGURATION----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    max-width: 320px;
    margin:0 auto;

}

.main-wrapper{
    padding: 16px;
}
  
/*--- BACKGROUND-WRAPPER-----*/

.background-wrapper{
    position: relative;
    width: 320px;
	
}

.background-wrapper::before{
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
	transform-origin: top left;
	transform: skewY(-3deg);
	z-index: -10;
}

.background-wrapper::after{
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
	transform-origin: bottom left;
	transform: skewY(3deg);
	z-index: -10;
}


/*-------BUTTONS CTA-------*/

.cta{
    background: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

/*-----TITLES------*/

h1,
h2,
h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
    height: 42px;
    font-weight: 400;
}


p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color:#060A24;
    letter-spacing: 0;
    line-height: 22px;
}
/*---------HEADER----------*/

    /* header{
        display: flex;
        justify-content: center;
    }

    .image-container{
        width: 24px;
        height: 24px;
    }

    .menuIcon-cointainer{
        display: flex;
        width: 18px;
        height: 12px;
    }
 */

 /*-----CLOSE ICON-------*/

 label .close-icon{
     width: 18px;
     height: 16px;
 }

/*---MENU HAMBURGER -------*/

#page-nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#page-nav label{
    display: inline-block;
}

#page-nav #hamburger     {
    display: none;
} 

#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:44px;
}

#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
 
#page-nav ul li a {
    text-decoration: none;
    color:ghostwhite;
  }

#page-nav ul {
    display: none;

}

 #page-nav input:checked ~ ul {
    background-color: blue;
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 320px;
  }
 /* 
  .menu-list{
    margin-top:80px;
   max-width: 320px;
   height: 224px;   
  } */ 

/*---------section-title ---------*/


.section-title h1{
    margin-top:29px;   
    height: 42px;
    width: 222px;
}

.world-line-through{
    text-decoration: line-through;
}

.section-title p{
    margin-top: 58px;
    height: 66px;
}

.section-title button.cta{
    margin-top: 36px;
    margin-bottom: 24px;
}

/*--------section-podcasts--------*/

.section-podcasts{
    max-width: 320px;
    height: 1203.5px;
}


.section-podcasts h2{
    margin-top:64px;
    margin-bottom: 21px;
    max-width: 157px;
    margin-right: 147px;
    color: #FFFFFF;

}

.list-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-content img{
    margin-bottom: 11px;
    width: 298px;
    height: 225px;
}

.list-content img.podcast-spotify{
    margin-bottom: 0;
}

 /*-------section-deDondeVenimos----------*/

 .section-whereComeFrom{ 
    margin-bottom: 54px;
 }

 .img-phone-content{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top:48px;
 }
 
 .img-phone-content img{
     width: 360px;
     height:519px;
 }

 .section-whereComeFrom h2{
    width: 288px;
    height: 84px;
    margin-bottom: 8px;
 }

 .paragraph{
     width: 288px;
     height: 254px;
 }

 /*-----------specialGuests--------*/


 .section-specialGuests h2{
     width: 288px;
     height: 84px;
     margin-bottom: 14px;
 }

 .gallery-images{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom:48px;
 }

 .gallery-images img{
     width: 320px;
     height: 243px;
 }

 /*-------ourTopics-----------*/

 .section-ourTopics h2{
     width: 288px;
     height: 84px;
     margin-bottom: 24px;
 }

 .list-topics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 
 .topic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:320px;
    height: 162px;
}
 .list-topics.topic.one{
     margin-top:40px
 }

 .topic.one{
    margin-bottom: 36px;
 }

 .topic.two,
 .topic.three{
     margin-bottom:52px;
 }

 .topic.four{
     margin-bottom: 42px;
 }
 
 .list-topics img{
     width: 104px;
     height:104px;
     margin: 13px 108px;
 }
 
 .list-topics span{
    font-family: 'IBMPlexSans-SemiBold';
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
 }  

 /*---------SIX SECTION---------*/

 .six-section{
     margin-top:42px;
     margin-bottom: 24px;
 }

 .six-section h2{
     width: 288px;
     height:126px;
     text-align: center;
     margin-top:64px;
     color:#FFFFFF;
 }

 .six-section button.cta{
     margin-top: 36px;
     margin-bottom: 67px;
 }

 .background-wrapper.six-section::after{
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(0deg);
	z-index: -10;
 }
 /*-----------FOOTER-----------*/

 footer{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .copyright{
     margin-bottom: 16px; 
     font-family: 'IBMPlexMono', monospace;
     font-size: 14px;
     color: #060A24;
     letter-spacing: 0;
     line-height: 22px;
     text-align: center;
 }

 .list-icons{
    margin-bottom: 31px;
    width: 208px;
    height: 28px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*  
.icon{
    display: flex;

} */


 }

/*  .icons i{
    width: 20%;
    text-align:center;
 
 }
 */
 