/*---- MAIN CONFIGURATION----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    max-width: 320px;
    margin:0 auto;

}

.main-wrapper{
    padding: 16px;
}
  
/*--- BACKGROUND-WRAPPER-----*/

.background-wrapper{
    position: relative;
    max-width: 320px;
	
}

.background-wrapper::before{
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
	transform-origin: top left;
	transform: skewY(-3deg);
	z-index: -10;
}

.background-wrapper::after{
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
	transform-origin: bottom left;
	transform: skewY(3deg);
	z-index: -10;
}


/*-------BUTTONS CTA-------*/

.cta{
    background: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

/*-----TITLES------*/

h1,
h2,
h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
    height: 42px;
}


p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color:#060A24;
    letter-spacing: 0;
    line-height: 22px;
}
/*---------HEADER----------*/

    /* header{
        display: flex;
        justify-content: center;
    }

    .image-container{
        width: 24px;
        height: 24px;
    }

    .menuIcon-cointainer{
        display: flex;
        width: 18px;
        height: 12px;
    }
 */

 /*-----CLOSE ICON-------*/

 label .close-icon{
     width: 18px;
     height: 16px;
 }

/*---MENU HAMBURGER -------*/

#page-nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#page-nav label{
    display: inline-block;
}

#page-nav #hamburger     {
    display: none;
} 

#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:44px;
}

#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
 
#page-nav ul li a {
    text-decoration: none;
    color:ghostwhite;
  }

#page-nav ul {
    display: none;

}

 #page-nav input:checked ~ ul {
    background-color: blue;
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 320px;
  }
 /* 
  .menu-list{
    margin-top:80px;
   max-width: 320px;
   height: 224px;   
  } */ 

/*---------FIRST-SECTION ---------*/

.first-section h1{
    margin-top:29px;   
    height: 42px;
    width: 222px;
}

.world-line-through{
    text-decoration: line-through;
}

.first-section p{
    margin-top: 58px;
    height: 66px;
}

.first-section button.cta{
    margin-top: 36px;
    margin-bottom: 24px;
}

/*--------SECOND-SECTION--------*/
/* 
.second-section{
    margin-top: 24px;
    padding: 0;
}
 */
.second-section h2{
    margin-top:64px;
    margin-bottom: 21px;
    max-width: 157px;
    margin-right: 147px;
    color: #FFFFFF;

}

.list-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-content img{
    margin-bottom: 11px;
    width: 298px;
    height: 225px;
}

.list-content img.podcast-spotify{
    margin-bottom: 0;
}

 /*-------THIRD SECTION----------*/

 .img-phone-content{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top:48px;
 }
 
 .img-phone-content img{
     width: 360px;
     height:519px;
 }

 .third-section h2{
    margin-top: 27px;
    width: 288px;
    height: 84px;
 }

 .paragraph{
     margin-top:8px;
     width: 288px;
     height: 254px;
 }

 /*-----------FOUR SECTION--------*/

 .four-section h2{
     margin-top: 54px;
     width: 288px;
     height: 84px;
 }

 .gallery{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 14px;
 }

 .gallery img{
     width: 320px;
     height: 243px;
 }

 /*-------FIVE SECTION-----------*/

 .five-section h2{
     margin-top: 48px;
     width: 288px;
     height: 84px;
     margin-bottom: 24px;
 }

 .list-topics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .topic{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 130px;
 }

 .topic.one{
     margin-top: 37px;
 }

.topic.two{
     margin-top: 36px;
 }

 .topic.three,
 .topic.four{
     margin-top:52px;
 }

 .list-topics img{
     width: 104px;
     height:104px;
     margin: 13px 108px;
 }
 
 .list-topics span{
    font-family: 'IBMPlexSans-SemiBold';
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 36px;
 }  

 /*---------SIX SECTION---------*/

 .six-section{
     margin-top:42px;
 }

 .six-section h2{
     width: 288px;
     height:126px;
     text-align: center;
     margin-top:64px;
     color:#FFFFFF;
 }

 .six-section button.cta{
     margin-top: 36px;
     margin-bottom: 67px;
 }

 .background-wrapper.six-section::after{
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(0deg);
	z-index: -10;
 }
 /*-----------FOOTER-----------*/

 .copyright{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-top:91px;
    
 }

 .text{
    background-color:greenyellow;
    font-family: 'IBMPlexMono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    width: 227px;
    height: 22px;
    text-align: center;
    margin-bottom: 16px;
 }

 .icons{
    background-color:goldenrod;
    width: 227px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.icon{
    display: flex;

}


 }

/*  .icons i{
    width: 20%;
    text-align:center;
 
 }
 */
 